<%= f.text_area attribute,
  class: "h-50 w-full appearance-none rounded border-2 border-gray-200 bg-gray-200 leading-tight text-gray-700 focus:border-mikan-orange focus:bg-white focus:outline-none",
  data: {
    situation_form_target: "input",
    action: "input->situation-form#clearError input->situation-form#count"
  } 
%>

<p class="text-dusk-blue">
  文字数： <span data-situation-form-target="output">0</span> / 300文字
</p>

<p class="hidden text-red-600 font-bold" data-situation-form-target="error"></p>
