<div>
  <h1 class="font-bold text-4xl">Situations#index</h1>
  <p>Find me in app/views/situations/index.html.erb</p>

  <% @situations.each do |situation| %>
    <%= link_to situation_path(situation.id) do %>
      <div class="m-5 p-4 relative border-2 border-gray-200 text-dusk-blue hover:-translate-y-1 hover:scale-105 hover:text-mikan-orange">
        <p class="text-sm">
          <%= situation.created_at.strftime('%Y年%m月%d日 %H時%M分') %>
        </p>
        <p class="mt-2 block text-lg font-bold">
          <%= situation.fact %>
        </p>
      </div>
    <% end %>
  <% end %>

  <%= paginate @situations %>
</div>
