<div>
  <h1 class="font-bold text-4xl">Situations#show</h1>
  <p>Find me in app/views/situations/show.html.erb</p>

  <div>
    <%= render "situation_attribute", situation: @situation, attribute: :fact %>
    <%= render "situation_attribute", situation: @situation, attribute: :problem %>
    <%= render "situation_attribute", situation: @situation, attribute: :goal %>
  </div>
</div>
