node_modules/
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/config/master.key
config/credentials/development.yml.enc

/.envgi


# Ignore key files for decrypting credentials and more.
/config/credentials/*.key

app/assets/builds/*

# Ignore key files for decrypting credentials and more.
/config/*.key

