<div class="flex flex-col items-center space-y-4">
  <span class="mt-8 text-dusty-denim text-9xl">
    <i class="fa-solid fa-circle-exclamation"></i>
  </span>
  <p class="mt-8 text-dusty-denim text-2xl">タスクの作成に失敗しました。</p>
</div>
