<p class="mt-5 ml-3 text-dusty-denim text-lg">
  タスクはまだありません。<br>
  必要であれば、タスクを追加してください。
</p>
<div class="mt-5 ml-3 mb-5 flex gap-3">
  <%= render "tasks/create_form", situation: situation, new_task: new_task %>
</div>
