<h1 class="text-2xl">ReNovo</h1>

<p class="mt-4 mb-4">Googleアカウントでログインしてください</p>

<%= button_to "Googleでログイン",
  "/auth/google_oauth2",
  method: :post,
  class: "rounded border-b-4 border-dusk-blue bg-dusty-denim px-4 py-2 font-bold text-white hover:border-jet-black hover:bg-dusk-blue",
  form: { data: { turbo: false } } 
%>
